JENKINS_MCP_PROFILE=example
JENKINS_BASE_URL=https://jenkins.example.com/
JENKINS_USER_ID=replace-with-jenkins-user-id
JENKINS_API_TOKEN=replace-with-local-token

JENKINS_MCP_READ_ONLY=true
JENKINS_MCP_ENABLE_MUTATIONS=false
JENKINS_MCP_JOB_ALLOWLIST=
JENKINS_MCP_REQUEST_TIMEOUT_MS=30000
JENKINS_MCP_CONSOLE_MAX_CHARS=20000
JENKINS_MCP_LOG_LEVEL=info
